<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    
    <%= render 'articleShow' %>
    </br>
    
    <% if current_user.id == @article.user_id %>
      <%= link_to 'Edit Entry', edit_article_path(@article), class: "rounded-lg px-2 inline-block font-medium text-white border-2 border-white" %>
      <div class="inline-block ml-2">
        <%= button_to 'Delete Entry', article_path(@article), method: :delete, class: "rounded-lg px-2 inline-block font-medium text-white border-2 border-white" %>
      </div>
      </br>
    <% end %>

    </br>
    <h3 class="text-white">Comments</h3>
    <div id="comments">
      <%= render @article.comments %>
    </div>

    <%= render 'comments/new' %>

    
  </div>
</div>
