<div clas="flex">
  <div class="flex bg-black justify-center" >
    <hr class="w-12 h-px my-5 mb-2 bg-gray-400">
    <div class="bg-gray-400" style="width: 12rem; border-top-left-radius: 3rem; border-top-right-radius: 3rem; border-bottom-right-radius: 3rem; border-bottom-left-radius: 3rem">
      <h1 class="ml-14 text-2xl mb-1">Sign In</h1>
    </div>
    <hr class="w-12 h-px my-5 mb-2 bg-gray-400">
  </div>

  <br>
  <div class="flex text-white justify-center">
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-1">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "text-black" %>
      </div>

      <div class="field mb-1">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "text-black"  %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <button class="actions bg-blue-500 w-full h-8 mt-1 mb-1">
        <%= f.submit "Log in" %>
      </button>
      
      <div class="flex justify-center">
      <%= link_to 'Sign Up', new_user_registration_path, class: "mr-2"%>
      |
      <%= link_to 'Forgot password?', new_user_password_path, class: "ml-2" %>
      </div>
    <% end %>
  </div>
</div>


