<!DOCTYPE html>
<html>
  <head>
    <title>Captain's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black">
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav' %>
    <div class="flex">
      <%= render 'layouts/sidebar' %>
      <main class="mt-10 ml-10 container mx-auto mr-14" >
        <%= yield %>
      </main>
    </div> 
    <p class="alert"><%= alert %></p>
    
  </body>
</html>
